<div class="container">
    <div class="card">
        <div class="card-header">
            Personas
        </div>
        <div class="card-body">
            <table class="table table-hover" >
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>nombre</th>
                        <th>apellido</th>
                        <th>acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor= "let persona of Personas">
                        <th>{{persona.id}}</th>
                        <th>{{persona.name}}</th>
                        <th>{{persona.apellidos}}</th>
                        <th>
                            <button (click)="editar(persona)" class="btn btn-warning">editar</button>
                            <button (click)="delete(persona)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
