
<div class="container">
  <button (click)="listar()" class="btn btn-info">listar</button>
  <button (click)="nuevo()" class="btn btn-info" style="margin-left: 10px;"> nuevo</button>
</div>

<router-outlet></router-outlet>