<div class="container col-md-6">
  <div class="card">
      <div class="card-header">
          Agregar personas
      </div>
      <div class="card-body">
        <form (submit)="guardar()">
          <div>
            <label for=""> Nombre:</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="persona.name">
          </div>
          <div>
            <label for=""> Apellido:</label>
            <input type="text" class="form-control" name="apellidos" [(ngModel)]="persona.apellidos">
          </div>
          <button type="submit" class="btn btn-danger"  >Guardar </button>
        </form>
      </div>
  </div>
</div>
