<div class="container col-md-6">
  <div class="card">
      <div class="card-header">
          Editar personas
      </div>
      <div class="card-body">
        <form (submit)="actualizar(persona)">
          <div>
            <label for=""> Nombre:</label>
            <input type="text" class="form-control" #name="ngModel" [(ngModel)]="persona.name">
          </div>
          <div>
            <label for=""> Apellido:</label>
            <input type="text" class="form-control" name="apellidos" [(ngModel)]="persona.apellidos">
          </div>
          <button type="submit" class="btn btn-info"  >Actualizar </button>
        </form>
      </div>
  </div>
</div>
